header {
    box-shadow: 1px 1px 8px rgb(8, 22, 35);
}

section {
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 30%;
}

.rentree {
    grid-area: a;

}

.depense {
    grid-area: c;
}

.charge {
    grid-area: b;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-areas:
            "a b"
            "a b"
            "c c";
    }

    section {
        margin-left: 1rem;
        margin-bottom: 2rem;

        height: auto;
    }
}

h2 {
    margin-bottom: 0.5rem;
}

ul {
    border: 1px rgba(90, 90, 90, 0) solid;
    box-shadow: 1px 1px 5px rgb(84, 85, 85);
    padding: 10px;
    width: 95%;
    height: 90%;
    border-radius: 1rem;
    overflow: auto;
}

.liste_depense {
    width: 97.5%;
}

li {
    border: 1px rgba(90, 90, 90, 0) solid;
    box-shadow: 1px 1px 5px rgb(84, 85, 85);
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 1rem;
    overflow: auto;

}